@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

h1 {
  font-size: 65px;
  color: #ff801f;
  font-family: sans-serif;
}

p {
  font-weight: 600;
  font-size: 16px * 3;
}

li {
  color: #0c3b3b;
}

.backgroundColor {
  background-color: #1fffff;
}

.amarelo {
  color: #fbff00;
}
.vermelho {
  color: #ff2e2e;
}
.marrom {
  color: #361705;
}
