@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-family: Ubuntu Mono, monospace;
  cursor: none;
  background-color: #fff;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: difference;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  pointer-events: none;
}

::selection {
  color: #fff;
  background-color: #000;
}

main {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  /* background-color: #fff; */
  padding: 10px;
}

article {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.6rem;
}

p {
  /* background-color: #fff; */
  padding: 10px;
  border-bottom: 1px solid #000;
}

.highlight {
  /* text-decoration: underline; */
  font-weight: 700;
}
