@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  cursor: none;
  background-color: #fff;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: difference;
}

.hidden {
  display: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  pointer-events: none;
}

::selection {
  color: #fff;
  background-color: #000;
}

main {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

h1 {
  /* background-color: #fff; */
  padding: 10px;
  font-weight: 400;
}

article {
  text-align: justify;
}

p {
  /* background-color: #fff; */
  padding: 10px;
  /* border-bottom: 1px solid #000; */
  margin-bottom: 50px;
}

.highlight {
  /* text-decoration: underline; */
  font-weight: 700;
}

.settings {
  padding: 10px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  border-radius: 4px;

  position: fixed;
  bottom: 30px;
  right: 5%;

  cursor: pointer;
}

section {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  font-weight: 700;
}

.invert-colors {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.row > div {
  flex-basis: 33%;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

select {
  padding: 10px;
  border: none;
  margin-bottom: 20px;
}

select option {
  background-color: #000;
  color: #fff;
}

@media (max-width: 1024px) {
  main,
  section {
    width: 70%;
  }
}

@media (max-width: 768px) {
  main,
  section {
    width: 95%;
  }
}
